numpy
scipy
pillow
opencv-python>=4.8.0
imageio
adbutils
uiautomator2
uiautomator2cache
wrapt
retrying
jellyfish
pyyaml
inflection
pywebio
starlette==0.25.0
anyio
uvicorn[standard]
aiofiles
pypresence
rich
zerorpc
pyzmq
onepush
pydantic
psutil
chardet
matplotlib
pycryptodome
typing_extensions>=4.8.0
pydantic>=2.5.0
rapidocr
onnxruntime-directml
watchdog>=2.0.0
numba
pip
lz4
setuptools
openai
mcp==0.9.1
sse-starlette==3.0.3