# Image processing
numpy
scipy
pillow
opencv-python
imageio

# Device connection
adbutils
uiautomator2==2.16.17
uiautomator2cache==0.3.0.1
wrapt
retrying
lz4
psutil

# Utils
rich
tqdm
jellyfish
pyyaml
inflection
pydantic
aiofiles
prettytable
anyio

# Pushing
onepush
pycryptodome
pypresence

# Ocr
cnocr
# mxnet

# Webui
pywebio
starlette
uvicorn[standard]
alas-webapp
zerorpc
pyzmq
